$colors: (
  neutral: (
    900: #000000,
    700: #313131,
    500: #848484,
    400: #dadada,
    100: #ffffff,
  ),
  primary: (
    1000: #184e77,
    900: #1e6091,
    800: #1a759f,
    700: #168aad,
    600: #34a0a4,
    500: #52b69a,
    400: #76c893,
    300: #99d98c,
    200: #b5e48c,
    100: #d9ed92,
  ),
);
