@use "../abstracts" as *;

.grid {
  &-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(125px, 100%), 1fr));
    grid-template-rows: 300px 300px;
    gap: size(20);
    grid-auto-flow: row;

    @include mq(75rem, $type: max) {
      display: none;
    }
  }

  &-small {
    display: grid;
    gap: size(20);

    &:first-of-type {
      grid-column: span 3;
      grid-row: 1 / 2;
      grid-template-columns: 300px 450px;
      grid-template-rows: 300px;
    }

    &:nth-of-type(2) {
      grid-column: span 3;
      grid-row: 2 / 3;
      grid-template-columns: 450px 300px;
      grid-template-rows: 300px;
    }
  }
}
